<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <title>게시판 목록</title>
    <style>
        .boardMenuList {
            position: absolute;
            top: 230px;
            right: 15px;
            z-index: 10;
        }

        .boardMenuList li {
            float: left;
            list-style-type: none;
            cursor: pointer;
        }
        .bgImage { background-repeat: no-repeat; background-position: center; width: 100%; height: 225px;}
        .bno {
            position: absolute;
            font-size: 23px;
            color: #ffffff;
            background-color: #51b56d;
            border-radius: 2px;
        }
    </style>
    <script th:inline="javascript">
        let realpath = /*[[@{'/'}]]*/ 'default';
    </script>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="~{include/header :: header}"></th:block>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> 게시판 </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="album py-5 bg-body-tertiary">
        <div class="container mb-5">
            <div class="d-flex justify-content-end pb-4">
                <a th:href="@{/board/register}" class="btn btn-main"> 게시판 생성 <i class="fa-solid fa-clipboard"></i></a>
            </div>
            <div th:replace="~{/include/searchList :: search('board/list', 'title:제목')}"></div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <th:block th:each="list : ${boardList}">
                    <div class="col">
                        <div class="card shadow-sm">
                            <a th:href="@{/post/detail(bno=${list.bno})}">
                                <span class="bno ms-2 mt-2 p-2 pb-0 pt-0" th:text="${list.bno}"></span>
                                <!-- 배경이미지X -->
                                <div th:if="${list.bgImage eq null}"
                                     class="bd-placeholder-img card-img-top"
                                     th:style="'width: 100%; height: 225px; background-color:' + ${list.bgColor}">
                                </div>
                                <div class="bd-placeholder-img card-img-top"
                                     th:if="${list.bgImage != null}"
                                     th:style="'height: 225px;'">
                                    <img class="bgImage" th:src="@{|/images/boardImage/${list.file.savePath}/s_${list.file.saveName}|}" style="width: 100%;">
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="boardMenuList">
                                    <ul class="p-0">
                                        <!-- 수정버튼 -->
                                        <li class="me-2" th:id="'boardModifyBtn'+${list.bno}">
                                            <span data-bs-toggle="modal" data-bs-target="#modifyModal"><i class="fa-pen-to-square fa-solid"></i></span>
                                        </li>
                                        <!-- 삭제 버튼 -->
                                        <li class="boardRemoveBtn">
                                            <a th:bno="${list.bno}" onclick="boardRemove(this.getAttribute('bno'))"><i class="fa-solid fa-trash-can" style="color: #000000"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <a th:href="@{/post/detail(bno=${list.bno})}"><p class="card-text" th:text="${list.title}" style="color: #000000"></p></a>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-body-secondary" th:text="${#temporals.format(list.createAt, 'yyyy-MM-dd')}"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 게시판 정보 수정 모달창 시작 -->
                    <div class="modal fade" id="modifyModal" aria-labelledby="modifyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="modifyModalLabel">게시판 정보 수정</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/board/modify2(bno=${list.bno})}" method="post" enctype="multipart/form-data">
                                        <div class="mb-3">
                                            <label for="boardTitle" class="col-form-label">게시판 이름</label>
                                            <input type="text" name="title" class="form-control" id="boardTitle" aria-describedby="title" th:value="${list.title}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="bpw" class="col-form-label">비밀번호</label>
                                            <input type="password" name="bpw" class="form-control" id="bpw" aria-describedby="bpw">
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <label for="layout" class="col-form-label">레이아웃</label>
                                                <select name="layout" id="layout" class="form-select" th:value="${list.layout}">
                                                    <option value="GRID"> 격자형 </option>
                                                    <option value="TIMELINE"> 타임라인 </option>
                                                    <option value="GROUP"> 그룹형 </option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <label for="maxStudent" class="col-form-label">최대 인원 수</label>
                                                <input type="number" name="maxStudent" class="form-control" id="maxStudent" th:value="${list.maxStudent}">
                                            </div>
                                        </div>

                                        <div class="mb-3">
                                            <label for="boardBgColor" class="col-form-label">배경색</label>
                                            <input type="color" name="bgColor" class="form-control" id="boardBgColor" th:value="${list.bgColor}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="boardFile" class="col-form-label">배경이미지</label>
                                            <input type="file" name="boardFile" class="form-control" id="boardFile" th:value="${list.bgColor}" style="height: auto" accept=".JPG, .jpg, .tiff, .bmp, .BMP, .gif, .GIF, .WBMP, .png, .PNG, .JPEG, .tif, .TIF, .TIFF, .jpeg, .wbmp">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">수정</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 게시판 정보 수정 모달창 끝-->
                </th:block>
            </div>
        </div>
        <th:block th:if="${not #lists.isEmpty(boardList)}">
            <div th:replace="~{/include/pagination :: pagination('board/list')}"></div>
        </th:block>
        <th:block th:if="${boardList.isEmpty()}">
            <p class="text-center">만들어진 게시판이 없습니다.</p>
        </th:block>
    </div>
</section>
<th:block th:replace="~{include/footer :: footer}"></th:block>

<script th:inline="javascript">
    function boardRemove(bno){
        if(confirm("정말로 삭제하시겠습니까?") == true){
            location.href = '/board/remove?bno='+bno;
        }
    }
</script>
</body>
</html>