<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <title>게시판 등록</title>
    <style>
        /* 겉부분의 디자인 변경 */
        input[type=color] {
            width: 63px;
            height: 50px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
        }

        /* 안쪽부분의 디자인 변경 */
        input[type=color]::-webkit-color-swatch {
            border-radius: 30px;
            border: 5px solid;
        }

    </style>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="~{include/header :: header}"></th:block>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> 게시판 등록 <i class="fa-regular fa-clipboard"></i> </h1>
        </div>
    </div>
</section>
<section class="section pb-5">
    <div class="col-6 container">
        <form th:action="@{/board/register}" method="post">
            <div class="col-12 mb-3">
                <label for="title" class="form-label"> 게시판 이름 </label>
                <input type="text" class="form-control" id="title" name="title" maxlength="80" required>
            </div>
            <div class="col-12 mb-3">
                <label for="bpw" class="form-label"> 비밀번호 <span>(선택)</span></label>
                <input type="password" class="form-control" id="bpw" name="bpw" maxlength="10">
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label for="maxStudent" class="form-label"> 최대 학생수 </label>
                    <input type="number" class="form-control" name="maxStudent" id="maxStudent" value="1" max="50">
                </div>
                <div class="col-4">
                    <label for="bgImage" class="form-label"> 배경이미지 <span>(선택)</span></label>
                    <input type="text" class="form-control" name="bgImage" id="bgImage">
                </div>
                <div class="col-4">
                    <label for="bgColor" class="form-label"> 배경색 <span>(선택)</span></label>
                    <input type="color" class="form-control" name="bgColor" id="bgColor">
                </div>
            </div>
            <button type="submit" class="btn btn-main float-end"> 게시판 만들기 </button>
        </form>
    </div>
</section>
<th:block th:replace="~{include/footer :: footer}"></th:block>
</body>
</html>