<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <title th:text="${detail.title}"></title>

    <link rel="stylesheet" th:src="@{/js/jqeury-ui-1.13.2/jquery-ui.css}">
    <link rel="stylesheet" th:src="@{/js/jqeury-ui-1.13.2/jquery-ui.strucutre.css}">
    <link rel="stylesheet" th:src="@{/js/jqeury-ui-1.13.2/jquery-ui.theme.css}">

    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/sockjs.min.js}"></script>
    <script th:src="@{/js/stomp.min.js}"></script>
    <script th:src="@{/js/jquery-ui-1.13.2/jquery-ui.js}"></script>



    <style>
        /* 겉부분의 디자인 변경 */
        input[type=color] {
            width: 57px;
            height: 45px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: transparent;
            border: none;
        }

        /* 안쪽부분의 디자인 변경 */
        input[type=color]::-webkit-color-swatch {
            border-radius: 30px;
            border: 5px solid;
        }

        .register {
            display: none;
        }

        #boardMenuList {
            position: absolute;
            right: 0;
            top: 50px;
            display: none;
            width: auto;
            height: auto;
            border: 1px solid rgb(175 174 174);
            border-radius: 20px;
            background-color: #eeeeee
        }

        .xBtn i {
            position: absolute;
            right: -12px;
            top: -15px;
            cursor: pointer;
        }
        .register {
            display: none;
            position: relative;
        }
        textarea {resize: none; overflow: auto;}
        #sortable { list-style-type: none; /*margin: 1rem; padding: 0; width: 350px; */}
        #sortable li { float: left;/*margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 20px; text-align: center; border: 1px solid black;*/}
        .color {
            mix-blend-mode: difference; color: #ffffff;
        }
        .original li { float: left;}

    </style>

    <script th:src="@{/js/postLayout.js}" th:inline="javascript"></script>
</head>


<body class="d-flex flex-column min-vh-100">


<th:block th:replace="~{include/header :: header}" class="mb-0"></th:block>


<section class="section pb-5" th:style="'background-color : '+ ${detail.bgColor}">
    <div class="mt-4 pb-3 " style="border-bottom: 1px solid rgb(175 174 174)">
        <div class="justify-content-between" style="display: flex">
            <div class="col-5">
                <h1 th:text="${detail.title}" class="ms-5"></h1>
            </div>
            <!-- 포스트잇 등록 슬라이드 메뉴 시작 -->
            <div class="col-5 text-end" style="position: relative; z-index: 20">
                <i class="fas fa-plus-circle fa-3x pe-3" style="color: #51B56D; cursor: pointer" id="boardMenu"></i>
                <div id="boardMenuList" class="me-2 mt-2 p-2 pb-0 pt-3">
                    <ul class="p-0" style="list-style-type: none">
                        <li><button type="button" data-bs-toggle="modal" data-bs-target="#groupRegisterModal" class="btn btn-outline-main mb-2">그룹 추가</button></li>
                        <li>
                            <button class="btn btn-outline-main mb-2"
                                    style="width: 100%"
                                    data-bs-toggle="modal" data-bs-target="#modifyModal">게시판 수정</button>
                        </li>
                        <li><a th:href="@{/board/remove(bno=${detail.bno})}" class="btn btn-outline-main" style="width: 100%">게시판 삭제</a></li>
                    </ul>
                </div>
            </div>
            <!-- 포스트잇 등록 슬라이드 메뉴 끝 -->
        </div>
    </div>

    <div class="post" style="min-height: 700px;">
        <div class="container-fluid m-0 row">
            <div class="mt-5 row">
                <!-- 그룹 시작 -->
                <div class="col-md-2" th:each="g : ${groupList}">
                    <div class="card card-border-primary">
                        <div class="card-header" th:style="'background-color : ' + ${g.GColor}">
                            <div class="card-actions float-end" th:id="'groupMenuBtn' + ${g.gno}" style="cursor: pointer;">
                                <i class="fa-solid fa-ellipsis color"></i>
                                <div class="dropdown-menu dropdown-menu-right" th:id="'groupMenuList' + ${g.gno}" style="display: none;">
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#groupPostRegisterModal">포스트잇 추가</button>
                                    <a class="dropdown-item" href="#">그룹 수정</a>
                                    <a class="dropdown-item" href="#">그룹 삭제</a>
                                </div>
                            </div>
                            <h5 class="card-title mt-2 color" th:text="${g.title}"></h5>
                        </div>
                        <div class="card-body p-3">
                            <!-- 그룹 내 포스트잇 시작 -->
                            <div class="card mb-3"
                                 th:each="p : ${postList}" th:if="${g.gno == p.layout.gno}"
                                 th:style="${p.bgImage == null ? 'height : 220px; background-color : ' + p.bgColor : 'height : 220px;'}">
                                <div class="card-body p-3 original" th:id="'original' + ${p.pno}">
                                    <!-- 포스트잇 메뉴 시작 -->
                                    <div th:id="'postMenuList' + ${p.pno}" class="pe-3"
                                         style="position: absolute; right: 0; height: auto; top: 10px; z-index: 10">
                                        <ul class="p-0" style="list-style-type: none">
                                            <!-- 수정버튼 -->
                                            <li class="me-2" th:id="'postModifyBtn' + ${p.pno}"
                                                th:style="${ p.bgImage == null ? 'cursor: pointer; background-color : ' + p.bgColor : 'cursor: pointer; background-color : #eeeeee' }">
                                            <span th:style="${p.bgColor == '#ffffff' || p.bgColor == null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                                <i class="fa-pen-to-square fa-solid"></i>
                                            </span>
                                            </li>
                                            <!-- 삭제 버튼 -->
                                            <li th:id="'postRemoveBtn' + ${p.pno}"
                                                th:style="${ p.bgImage == null ? 'cursor: pointer; background-color : ' + p.bgColor : 'cursor: pointer; background-color : #eeeeee' }">
                                            <span th:style="${p.bgColor == '#ffffff' || p.bgColor == null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 포스트잇 메뉴 끝 -->
                                    <p th:text="${p.content}" class="color pt-3" style="height: 70%"></p>
                                    <p class="text-end mb-0 color" th:text="${p.author}"></p>
                                </div>
                                <!-- 포스트잇 수정 -->
                                <div class="card-body p-3 modify register" th:id="'modify' + ${p.pno}">
                                    <form class="postEditForm" method="post" enctype="multipart/form-data">
                                        <div class="justify-content-center row">
                                            <textarea name="content" cols="30" rows="5" class="form-control" maxlength="900" style="resize: none;height: 80px;">[[${p.content}]]</textarea>
                                            <input type="hidden" name="pno" th:id="${p.pno}" th:value="${p.pno}">
                                            <input type="hidden" name="bno" th:id="${p.bno}" th:value="${p.bno}">
                                            <div class="justify-content-between row">
                                                <input type="color" class="col-2 form-control mt-1" name="bgColor" id="bgColor" th:value="${p.bgColor}">
                                                <input type="file" class="col form-control mb-2 me-2 mt-2 uploadFiles" id="postFile" name="postFile" style="height: auto">
                                            </div>
                                            <div class="btn-group d-flex">
                                                <button type="button" class="btn btn-main" th:id="'reset' + ${p.pno}"> 취소 </button>
                                                <button type="submit" class="btn btn-main" th:id="'modSubmit' + ${p.pno}"> 수정 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 포스트잇 수정 끝 -->
                            </div>
                            <!-- 그룹 내 포스트잇 끝 -->
                        </div>
                    </div>

                    <!-- 그룹 수정 모달 창 시작 -->
                    <div class="modal fade" id="groupModifyModal" tabindex="-1" aria-labelledby="groupModifyModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="groupModifyModalLabel">그룹 추가</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="post">
                                        <input type="hidden" name="bno" id="bno" th:value="${g.bno}">
                                        <input type="hidden" name="gno" id="gno" th:value="${g.gno}">
                                        <div class="mb-3">
                                            <label for="title" class="col-form-label">그룹 이름</label>
                                            <input type="text" name="title" class="form-control" id="title" th:value="${g.title}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="bgColor" class="col-form-label">배경색</label>
                                            <input type="color" name="GColor" class="form-control" id="GColor" th:value="${g.GColor}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">수정</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 그룹 수정 모달 창 끝 -->
                </div>
                <!-- 그룹 끝 -->

                <!-- 그룹X -->
                <div class="col-md-2">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <div class="card-actions float-end">
                                <i class="fa-solid fa-ellipsis" id="groupMenuBtn" style="cursor: pointer"></i>
                                <div class="dropdown-menu dropdown-menu-right" id="groupMenuList" style="display: none;">
                                    <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#groupPostRegisterModal">포스트잇 추가</button>
                                    <a class="dropdown-item" href="#">그룹 수정</a>
                                    <a class="dropdown-item" href="#">그룹 삭제</a>
                                </div>
                            </div>
                            <h5 class="card-title mt-2">그룹이 없는 포스트잇</h5>
                        </div>
                        <div class="card-body p-3">
                            <!-- 그룹 내 포스트잇 시작 -->
                            <div class="card mb-3"
                                 th:each="p : ${postList}" th:if="${p.layout.gno == null}"
                                 th:style="${p.bgImage == null ? 'height : 220px; background-color : ' + p.bgColor : 'height : 220px;'}">
                                <div class="card-body p-3 original" th:id="'original' + ${p.pno}">
                                    <!-- 포스트잇 메뉴 시작 -->
                                    <div th:id="'postMenuList' + ${p.pno}" class="pe-3"
                                         style="position: absolute; right: 0; height: auto; top: 10px; z-index: 10">
                                        <ul class="p-0" style="list-style-type: none">
                                            <!-- 수정버튼 -->
                                            <li class="me-2" th:id="'postModifyBtn' + ${p.pno}"
                                                th:style="${ p.bgImage == null ? 'cursor: pointer; background-color : ' + p.bgColor : 'cursor: pointer; background-color : #eeeeee' }">
                                            <span th:style="${p.bgColor == '#ffffff' || p.bgColor == null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                                <i class="fa-pen-to-square fa-solid"></i>
                                            </span>
                                            </li>
                                            <!-- 삭제 버튼 -->
                                            <li th:id="'postRemoveBtn' + ${p.pno}"
                                                th:style="${ p.bgImage == null ? 'cursor: pointer; background-color : ' + p.bgColor : 'cursor: pointer; background-color : #eeeeee' }">
                                            <span th:style="${p.bgColor == '#ffffff' || p.bgColor == null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                                <i class="fa-solid fa-trash-can"></i>
                                            </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- 포스트잇 메뉴 끝 -->
                                    <p th:text="${p.content}" class="color pt-3" style="height: 70%"></p>
                                    <p class="text-end mb-0 color" th:text="${p.author}"></p>
                                </div>
                                <!-- 포스트잇 수정 -->
                                <div class="card-body p-3 modify register" th:id="'modify' + ${p.pno}">
                                    <form class="postEditForm" method="post" enctype="multipart/form-data">
                                        <div class="justify-content-center row">
                                            <textarea name="content" cols="30" rows="5" class="form-control" maxlength="900" style="resize: none;height: 80px;">[[${p.content}]]</textarea>
                                            <input type="hidden" name="pno" th:id="${p.pno}" th:value="${p.pno}">
                                            <input type="hidden" name="bno" th:id="${p.bno}" th:value="${p.bno}">
                                            <div class="justify-content-between row">
                                                <input type="color" class="col-2 form-control mt-1" name="bgColor" id="bgColor" th:value="${p.bgColor}">
                                                <input type="file" class="col form-control mb-2 me-2 mt-2 uploadFiles" id="postFile" name="postFile" style="height: auto">
                                            </div>
                                            <div class="btn-group d-flex">
                                                <button type="button" class="btn btn-main" th:id="'reset' + ${p.pno}"> 취소 </button>
                                                <button type="submit" class="btn btn-main" th:id="'modSubmit' + ${p.pno}"> 수정 </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!-- 포스트잇 수정 끝 -->
                            </div>
                            <!-- 그룹 내 포스트잇 끝 -->
                        </div>
                    </div>
                </div>
                <!-- 그룹 끝 -->
            </div>
        </div>

        <!-- 그룹 포스트잇 추가 모달 창 시작 -->
        <div class="modal fade" id="groupPostRegisterModal" aria-labelledby="groupPostRegisterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="groupPostRegisterModalLabel">포스트잇 추가</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="bno" id="bno" th:value="${detail.bno}">
                            <div>
                                <label for="content" class="col-form-label">내용</label>
                                <textarea class="form-control" name="content" id="content" cols="30" rows="5" th:max="950" placeholder="내용을 입력하세요"></textarea>
                            </div>
                            <div class="p-2 row">
                                <div class="col-2 mb-3">
                                    <label for="bgColor" class="col-form-label">배경색</label>
                                    <input type="color" name="bgColor" class="form-control" id="bgColor">
                                </div>
                                <div class="col mb-3">
                                    <label for="postFile" class="col-form-label">배경이미지</label>
                                    <input type="file" name="postFile" class="form-control" id="postFile" style="height: auto">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">등록</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- 그룹 포스트잇 추가 모달 창 끝 -->

        <!-- 그룹추가 모달창-->
        <div class="modal fade" id="groupRegisterModal" tabindex="-1" aria-labelledby="groupRegisterModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="groupRegisterModalLabel">그룹 추가</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <input type="hidden" name="bno" id="bno" th:value="${detail.bno}">
                            <div class="mb-3">
                                <label for="title" class="col-form-label">그룹 이름</label>
                                <input type="text" name="title" class="form-control" id="title">
                            </div>
                            <div class="mb-3">
                                <label for="bgColor" class="col-form-label">배경색</label>
                                <input type="color" name="GColor" class="form-control" id="GColor" value="#ffffff">
                           </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">수정</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">
    const bno = /*[[${detail.bno}]]*/ 1;
    let layoutNow = /*[[${detail.layout}]]*/ 'GRID';

    // 게시판 메뉴
    // 게시판 메뉴
    $(document).ready(function(){
        var hoverTimeout; // 호버 시간 지연을 위한 타임아웃 변수
        var isOpen = false; // 메뉴가 열려있는지 여부

        // 메뉴를 열고 닫는 함수
        function toggleMenu(action) {
            clearTimeout(hoverTimeout);
            if (action === 'open') {
                $("#boardMenuList").slideDown();
                isOpen = true;
            } else if (action === 'close') {
                $("#boardMenuList").slideUp();
                isOpen = false;
            }
        }

        // boardMenu에 호버(Hover) 이벤트 추가
        $("#boardMenu").hover(
            function() {
                toggleMenu('open'); // 호버되면 메뉴 열기
            },
            function() {
                // 마우스가 벗어났을 때 메뉴를 닫음
                hoverTimeout = setTimeout(function() {
                    toggleMenu('close');
                }, 500);
            }
        );

        // 메뉴를 유지
        $("#boardMenuList").hover(
            function() {
                clearTimeout(hoverTimeout); // 메뉴에 호버할 때 타임아웃 제거하여 메뉴가 열려있는 상태로 유지
            },
            function() {
                toggleMenu('close'); // 메뉴에서 마우스가 벗어나면 닫힘
            }
        );
    });

    // 포스트잇 글쓰기 영역
    $("#postRegisterBtn").click(function (){
        $("#postRegister").removeClass("register")
    })
    $(".xBtn i").click(function(){
        $("#postRegister").addClass("register")
    })
    $("#submit").click(function(){
        $("#postRegister").addClass("register")
    })

    // 포스트잇 메뉴
    $(document).ready(function(){
        var sw = true;
        sw =! sw
        $('[id^=groupMenuBtn]').click(function(){
            var index = this.id.replace('groupMenuBtn','');
            var groupMenuList = $('#groupMenuList' + index);
            $(groupMenuList).slideToggle();
            if (sw == true) {
                sw = false;
            } else if ( sw == false) {
                sw = true;
            }

        })

        // 포스트잇 수정창
        $('[id^=postModifyBtn]').click(function(){
            var index = this.id.replace('postModifyBtn','');
            var modify = $("#modify" + index);
            var original = $("#original" + index);

            $(original).addClass('register');
            $(modify).removeClass('register');
        })

        // 수정 버튼
        $('[id^=modSubmit]').click(function(){
            var index = this.id.replace('modSubmit','');
            var modify = $("#modify" + index);
            var original = $("#original" + index);
            $(original).removeClass('register');
            $(modify).addClass('register');
        })

        // 수정 취소
        $('[id^=reset]').click(function(){
            var index = this.id.replace('reset','');
            var modify = $("#modify" + index);
            var original = $("#original" + index);
            $(original).removeClass('register');
            $(modify).addClass('register');
        })
    });
</script>
<th:block th:replace="~{include/footer :: footer}"></th:block>
</body>
<script th:src="@{/js/postjs.js}" th:inline="javascript"></script>
<script th:src="@{/js/postSocket.js}" th:inline="javascript"></script>
</html>