<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="grid-layout">
    <ul id="sortable" class="col-12 ui-sortable">
        <li class="col-2 mb-3 mt-2 ui-sortable-handle ui-state-default" th:each="p : ${postList}" th:id="${p.pno}" th:pno="${p.pno}">
            <div th:replace="~{include/postLayout :: post-layout(p=${p})}" class="mb-0"></div>
        </li>


        <!-- 포스트잇 등록 -->
        <li class="col-2 mb-3 mt-2 register" id="postRegister">
            <div class="m-2">
                <div class="card shadow-sm">
                    <div class="card-body" style="height: 240px;">
                        <div class="xBtn">
                            <i class="fa-2x fa-circle-xmark fa-solid float-end"></i>
                        </div>
                        <!-- 포스트잇 글 등록 -->
                        <form method="post" enctype="multipart/form-data" onsubmit="postAddBtn(this)">
                            <div class="justify-content-center row">
                                <textarea name="content" cols="30" rows="5" class="form-control" placeholder="내용을 입력해주세요" style="resize: none;height: 104px;"></textarea>
                                <input type="hidden" name="bno" th:id="${detail.bno}" th:value="${detail.bno}">
                                <div class="justify-content-between row">
                                    <input type="color" class="col-2 form-control mt-1" name="bgColor" value="#ffffff">
                                    <input type="file" class="col-9 form-control mb-2 me-2 mt-2 uploadFiles" name="postFile" style="height: auto">
                                </div>
                                <div class="btn-group d-flex">
                                    <button type="submit" class="btn btn-main" id="submit"> 등록 </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</th:block>
</body>
</html>