<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 격자형 그리드 레이아웃 -->
<th:block th:fragment="grid-layout">
    <ul id="sortable" class="ui-sortable">
    </ul>

    <script th:inline="javascript">
        postList.forEach(function(p){
            let newPost = gridLayout(p, sid);
            let newPost = gridLayout(p, sid);
            $("#sortable").append(newPost);
        })

        $("#sortable").sortable({
            stop: function (event, ui){
                let changed = ui.item[0];
                let pno = changed.getAttribute("data-pno");
                let priority = $("#sortable > li").index(changed);
                layoutSort(pno, priority);
            }
        });

        $("#sortable").disableSelection();
    </script>
</th:block>

<!-- 연대기형 타임라인 레이아웃 -->
<th:block th:fragment="timeline-layout">
    <!-- 타임라인 -->
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link th:href="@{/css/timeline.css}" rel="stylesheet">

    <div class="timeline timeline--loaded timeline--vertical">
        <div class="timeline__wrap">
            <div class="timeline__items ui-sortable">

            </div>
        </div>
    </div>

    <script th:inline="javascript">
        postList.forEach(function(p){
            let newPost = timelineLayout(p, sid);
            $(".timeline__items").append(newPost);
        })

        $(".timeline__items").sortable({
            stop: function (event, ui){
                let changed = ui.item[0];
                let pno = changed.getAttribute("data-pno");
                let priority = $(".timeline__items > .timeline__item").index(changed);
                layoutSort(pno, priority);
            }
        });

        $(".timeline__items").disableSelection();

        $(function(){
            jQuery('.timeline').timeline();
            // $(".timeline__item--left ").addClass("d-flex justify-content-end");
        });
    </script>
</th:block>

<!-- 모둠형 그룹 레이아웃 -->
<th:block th:fragment="group-layout">
    <div class="mt-5 mb-3 row" id="groupList">
        <!-- 그룹X -->
        <div class="groupLayout">
            <div class="card card-border-primary">
                <div class="card-header">
                    <div class="card-actions float-end">
                        <i class="fa-solid fa-ellipsis" id="groupMenuBtn" style="cursor: pointer"></i>
                        <div class="dropdown-menu dropdown-menu-right" id="groupMenuList" style="display: none;">
                            <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#groupPostRegisterModal">포스트잇 추가</button>
                        </div>
                    </div>
                    <h5 class="card-title mt-2">그룹 없음</h5>
                </div>
                <div class="card-body p-1 groupPostList" id="noGroupPostList"></div>
            </div>
        </div>
        <!-- 그룹X 끝 -->
    </div>

    <script th:inline="javascript">
        let groupList = /*[[${groupList}]]*/ 'default';
        groupList.forEach(function(g){
            let newGroup = groupLayout(g);
            $("#groupList").append(newGroup);
        })

        postList.forEach(function(p){
            let newPost = postLayout(p, sid);
            let gno = p.layout.gno;
            if(gno!==null){
                $(`.groupPostList[data-gno=${gno}]`).append(newPost);
            } else {
                $("#noGroupPostList").append(newPost);
            }
        })

        $(document).on('submit', '#groupRegisterModalForm', function(e){
            e.preventDefault();
            let form = $(this)[0];
            groupAdd(form);
            form.reset();
        });

        $(document).on('submit', '#groupModifyModalForm', function(e){
            e.preventDefault();
            let form = $(this)[0];
            groupEdit(form);
            form.reset();
        });

        $(document).on('click', '[id^=groupMenuBtn]', function(){
            var index = this.getAttribute('data-gno');
            var groupMenuList = $('#groupMenuList' + index);
            $(groupMenuList).slideToggle();
        });

        function groupModifyModalSet(gno, title, color){
            let form = $("#groupModifyModalForm")[0];
            form.gno.setAttribute('value', gno);
            form.title.setAttribute('value', title);

            if(color===null){
                color = "#ffffff";
            }

            form.gColor.setAttribute('value', color);
        }
    </script>
</th:block>
</body>
</html>