<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="pagination(pageLink2)" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <!--    이전 페이지    -->
        <!-- 현재 페이지가 화면당 페이지 블록 갯수보다 클 때 표시 -->
        <!-- 예컨대 페이지를 5개씩 표시한다고 하면, 6번 페이지부터 이전 페이지 블록 등장 -->
        <!-- 예컨대 현재 페이지가 7일 때 이전 페이지를 누르면, 현재 시작페이지인 6에서 1을 뺀 값 즉 5번째 페이지로 이동한다.  -->
        <li th:if="${pageDTO.pageNow > pageDTO.pageScreen}" class="page-item previous">
            <a class="page-link" aria-label="Previous" th:page="${pageDTO.pageStart - 1}" th:onclick="paging(this.getAttribute('page'))"><span aria-hidden="true">&laquo;</span></a>
        </li>

        <!--    페이지 번호    -->
        <!--  현재 페이지인 경우 페이지 블록을 active 설정    -->
        <!--  현재 페이지가 7, 시작페이지가 6, 마지막 페이지가 10, 총 페이지가 12라면 6~10 표시 -->
        <th:block th:each="i: ${#numbers.sequence(pageDTO.pageStart, pageDTO.pageLast)}">
            <li th:if="${i==pageDTO.pageNow}" class="page-item active"><a class="page-link" th:text="${i}" th:page="${i}" th:onclick="paging(this.getAttribute('page'))"></a></li>
            <li th:if="${i!=pageDTO.pageNow}" class="page-item"><a class="page-link" th:text="${i}" th:page="${i}"  th:onclick="paging(this.getAttribute('page'))"></a></li>
        </th:block>
        <!--    다음 페이지 링크    -->
        <!--  마지막 페이지가 총 페이지 수보다 작을 때 다음 페이지 표시   -->
        <!--  예컨대 총 페이지가 8개, 현재 페이지가 7인 경우 현재 마지막 페이지는 8로 같으므로 표시X -->
        <!--  예컨대 총 페이지가 8개, 현재 페이지가 3인 경우 현재 마지막 페이지는 5로 더 작으니 표시   -->
        <li th:if="${pageDTO.pageLast < pageDTO.pageTotal}" class="page-item next">
            <a class="page-link"  aria-label="Next" th:page="${pageDTO.pageLast + 1}" th:onclick="paging(this.getAttribute('page'))"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
    <script th:inline="javascript">
        /*<![CDATA[*/

        let realpath2 = /*[[@{'/'}]]*/ 'default';
        let pageLink2 = /*[[${pageLink2}]]*/ 'default';
        console.log(realpath2+pageLink2);
        function paging(page){
            const form = document.createElement('form');
            form.method = "GET";
            form.action = realpath2+pageLink2;

            let searchtype = /*[[${pageDTO.type}]]*/ 'default';
            let searchkeyword = /*[[${pageDTO.keyword}]]*/ 'default';


            let params = {type: searchtype, keyword: searchkeyword, page: page};

            for (const key in params) {
                if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];
                    if(hiddenField.value!=""){
                        form.appendChild(hiddenField);
                    }
                }
            }

            document.body.appendChild(form);
            form.submit();
        }
        /*]]>*/
    </script>
</nav>
</body>
</html>