<!-- 포스트잇 하나에 대한 템플릿 -->
<!-- AJAX 등 처리할 때 간편하게 추가하기 위함 -->
<th:block th:fragment="post-layout(p)">
    <div class="m-2">
        <div class="card shadow-sm">
            <!-- 포스트잇 내용-->
            <div class="card-body" th:id="'post' + ${p.pno}" th:style="${ p.bgImage==null ? 'background-color : ' + p.bgColor : null }">
                <div class="original" th:id="'original' + ${p.pno}">
                    <div th:id="postMenuList+${p.pno}" class="pe-2"
                         style="position: absolute; right: 0; height: auto; z-index: 10; ">
                        <ul class="p-0" style="list-style-type: none">

                            <!-- 수정버튼 -->
                            <li class="me-2" th:id="'postModifyBtn'+${p.pno}"
                                th:style="${ p.bgImage==null ? 'cursor: pointer; background-color : ' + p.bgColor : '#eeeeee' }">
                                <span th:style="${p.bgColor=='#ffffff' || p.bgColor==null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                    <i class="fa-pen-to-square fa-solid"></i>
                                </span>
                            </li>

                            <!-- 삭제 버튼 -->
                            <li class="postRemoveBtn" th:id="'postRemoveBtn'+${p.pno}" th:pno="${p.pno}" onclick="postRemove(this.getAttribute('pno'))"
                                th:style="${ p.bgImage == null ? 'cursor: pointer; background-color : ' + p.bgColor : '#eeeeee' }">
                                <span th:style="${p.bgColor=='#ffffff' || p.bgColor==null ? 'color : #333333' : 'mix-blend-mode: difference; color : #eeeeee'}">
                                    <i class="fa-solid fa-trash-can"></i></span>
                            </li>
                        </ul>
                    </div>
                    <div class="text-body" style="height: 185px;">
                        <p class="card-text pt-3" th:text="${p.content}" style="mix-blend-mode: difference; color: #eeeeee; font-size: 20px;"></p>
                    </div>
                    <div class="d-flex justify-content-between row">
                        <p class="card-text text-end mb-0" style="mix-blend-mode: exclusion; color: #ffffff" th:text="${p.author}"></p>
                    </div>
                </div>

                <!-- 포스트잇 수정 -->
                <div class="modify register" th:id="'modify' + ${p.pno}">
                    <form method="post" enctype="multipart/form-data" class="postEditForm" th:id="'postEditForm'+${p.pno}">
                        <div class="justify-content-center row">
                            <textarea name="content" cols="30" rows="5" class="form-control" th:text="${p.content}" style="resize: none;height: 104px;"></textarea>
                            <input type="hidden" name="pno" th:id="${p.pno}" th:value="${p.pno}">
                            <div class="justify-content-between row">
                                <input type="color" class="col-2 form-control mt-1" name="bgColor" th:value="${p.bgColor}">
                                <input type="file" class="col-9 form-control mb-2 me-2 mt-2 uploadFiles" name="postFile" style="height: auto">
                            </div>
                            <div class="btn-group d-flex">
                                <button type="button" class="btn btn-main" th:id="'reset' + ${p.pno}"> 취소 </button>
                                <button type="submit" class="btn btn-main" th:id="'modSubmit' + ${p.pno}"> 수정 </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 포스트잇 수정 끝 -->
            </div>
        </div>
    </div>
</th:block>