<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{include/head :: head}"></th:block>
    <title>입장</title>
</head>
<body class="d-flex flex-column min-vh-100">
<th:block th:replace="~{include/header :: header}"></th:block>

<section class="login py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-8 align-item-center">
                <div class="mx-5">
                    <h3 class="text-center">학생 입장</h3>
                    <!--<p th:text="${boardDetail}"></p>-->

                    <form th:action="@{/member/nick0}" th:object="${nicknameDTO}" method="post">
                        <fieldset class="p-4">
                            <input class="form-control mb-3" type="text" id="bno" name="bno" placeholder="게시판 번호를 입력하세요." th:field="*{bno}" required>
                            <input class="form-control mb-3" type="text" id="nickname" name="nickname" placeholder="닉네임을 입력하세요." maxlength="30" pattern="[A-Za-z0-9가-힣]*" oninvalid="invalidInput()" th:field="*{nickname}" required>
                            <input class="form-control mb-3" type="password" id="bpw" name="bpw" placeholder="비밀번호를 입력하세요." th:field="*{password}">
                            <p class="text-danger">[[${msg}]]</p>
                            <button type="submit" class="form-control btn btn-main font-weight-bold"
                                    style="color: #ffffff">입장하기
                            </button>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{include/footer :: footer}"></th:block>
<script th:inline="javascript">
    function invalidInput() {
        alert("닉네임은 영문, 한글, 숫자만 입력 가능합니다.");
    }

    var rt = /*[[${rt}]]*/ null;
    var found = /*[[${found}]]*/ null;
    var duplicated = /*[[${duplicated}]]*/ null;

    if (rt === true && found === false) {
        alert('존재하지 않는 게시판입니다.');
    }
    if (rt === true && duplicated === true) {
        alert('사용할 수 없는 닉네임입니다.');
    }
</script>
</body>
</html>