html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    color: #040404;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}

a, a:hover, a:focus {
    text-decoration: none !important;
}

.service-item {
    /*
    border-top: 1px solid #F4F4F4;
    border-right: 1px solid #F4F4F4;
    */
    transition: 0.3s;
    position: relative;
    z-index: 10;
    border-radius: 32.5px;
    border: 2px solid rgb(34, 34, 34) !important;
    margin: 1rem;
    /* width: 16rem; */
}

.service-item .colored-box {
    display: inline-block;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 8px;
    color: #51B56D;
    background-color: rgba(81, 181, 109, 0.2);
}

.service-item .service-title {
    transition: color 0.3s;
}

.service-item .service-description {
    color: #888888;
}

.service-item a:hover .service-title {
    color: #51B56D;
}

.service-item a:hover .service-description {
    color: #888888;
}

.service-item .block {
    padding: 35px 39px;
}

@media (min-width: 991px) {
    .service-item:nth-child(2), .service-item:nth-child(4) {
        /* border-left: 1px solid #F4F4F4; */
    }

    .service-item:nth-child(4), .service-item:nth-child(5), .service-item:nth-child(6) {
        /* border-bottom: 1px solid #F4F4F4; */
    }
}

@media (max-width: 991px) {
    .service-item:nth-child(2), .service-item:nth-child(3), .service-item:nth-child(5) {
        /* border-left: 1px solid #F4F4F4; */
    }

    .service-item:nth-child(6), .service-item:nth-child(5) {
        /* border-bottom: 1px solid #F4F4F4; */
    }
}

@media (max-width: 767px) {
    .service-item {
        border: 1px solid #F4F4F4;
        border-bottom: 0;
    }
}

.service-item:nth-child(even) .colored-box {
    color: #917AEB;
    background-color: rgba(145, 122, 235, 0.2);
}

.service-item:hover {
    /* border-color: transparent; */
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1) !important;
    border: 2px solid #51B56D !important;
}

.btn {
    font-size: 1rem;
    padding: 13px 28px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    font-weight: 500;
    transition: 0.2s ease;
    overflow: hidden;
    border: 0;
}

.btn:hover, .btn:active, .btn.active, .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none !important;
    text-decoration: none;
}

.btn-main {
    background: #51B56D;
    color: #fff;
    border-color: #51B56D;
}

.btn-main:hover, .btn-main:active, .btn-main.active, .btn-main:focus, .btn-main.focus {
    background: #51B56D !important;
    color: #fff;
}

.btn-main.w-100:hover, .btn-main.d-block:hover, .btn-main.d-flex:hover, .btn-main.effect-none:hover {
    background-color: #3f9457 !important;
}

.btn-outline-main {
    background: #e0f2e5;
    color: #3f9457;
}

.btn-outline-main::after {
    background-color: #51B56D;
}

.btn-outline-main:hover, .btn-outline-main:active, .btn-outline-main.active, .btn-outline-main:focus, .btn-outline-main.focus {
    background: #e0f2e5;
    color: #3f9457;
}

.btn-outline-main.w-100:hover, .btn-outline-main.d-block:hover, .btn-outline-main.d-flex:hover, .btn-outline-main.effect-none:hover {
    background: #e0f2e5;
}

.form-control {
    color: #233242;
}

.form-control::-moz-placeholder {
    opacity: 0.5;
}

.form-control::placeholder {
    opacity: 0.5;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff;
    cursor: no-drop;
}

.form-control:not(textarea) {
    height: 55px;
}

textarea.form-control {
    height: 140px;
}

.form-control:focus {
    border-color: #51B56D;
}

.footer-info {
    width: 100%;
    min-width: 320px;
}

.footer-info .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1840px;
    margin: 0px auto;
    min-width: 320px;
    height: 55px;
    padding: 0px 25px;
    box-sizing: border-box;
}

.footer-info span {
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.footer-info span em {
    font-size: 18px;
    font-weight: 700;
    margin-right: 10px;
    font-style: normal;
}

.footer-info .left-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.footer-info .link-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: rgb(204, 204, 204);
    font-size: 13px;
}

.footer-info .link-list li {
    padding-left: 20px;
    border-left: 1px solid rgb(255, 255, 255);
    line-height: 1;
    margin-right: 20px;
    list-style: none;
}

.footer-info .link-list li:nth-child(1) {
    border-left: 0px;
}

.footer-info .link-list a {
    color: #ffffff;
}

#sel {
    height: 2rem;
    width: 10rem;
}

@media (max-width: 1023px) {
    .footer-info .link-list {
        display: none;
    }
}

.sign_area {
    font-size: 0.875em;
    text-decoration: underline;
    margin-top: 20px;
    font-weight: 400;
}

.sign_area .save_box {
    float: left;
}

.sign_area .look_box {
    float: right;
}

.signup {
    margin-top: 10px;
    text-align: right;
}

.signup > a {
    display: inline-block;
    margin-left: 10px;
}

.forgot {
    display: block;
}

.join_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.join_area .card {border-radius:15px;}
.join_area .no_check {color:#dc3545;}
.join_area .info {font-size:14px;}
.join_area #msg {font-size:14px;}
.join_area #id { width:calc(100% - 124px); float: left; }
.join_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.join_area #address1, .join_area #address2 {margin-bottom:5px;}
.join_area #postcode {width:calc(100% - 162px); float: left; }
.join_area #email { width:calc(100% - 124px); float: left; }
.join_area #cert-num { width:calc(100% - 124px); float: left; }
.join_area input::-webkit-input-placeholder {font-size:1rem;}
.join_area input:-ms-input-placeholder {font-size:1rem;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:400px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
.join_area .btn { height: 55px; }
.join_area .form-control:not(textarea) { height: 55px; }

h3.tit:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 5px solid #E0F2E5;
    box-sizing: border-box;
    margin-right: 10px;
}
h4.tit {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
h4.tit:before {
    content: '';
    color: #E0F2E5;
    font-size: 12px;
    margin-right: 5px;
    vertical-align: 2px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: #E0F2E5;
    border-radius: 50%;
    vertical-align: 0;
}

.contents {
    padding: 3rem;
    position: relative;
}
.tit-area {
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 1.75rem;
}
.sub-tit-area {
    margin-top: 50px;
}
hr.dashed-dark {
    border: 0;
    border-top: 1px solid #e3e3e3;
}

.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
}
.btn-sm {
    padding: 0.425rem 1rem;
    font-size: 1rem;
    border-radius: 0.3rem;
}


.my_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.my_area .card {border-radius:15px;}
.my_area .no_check {color:red;}
.my_area .no_check {color:red;}
.my_area .info {font-size:14px;}
.my_area #msg {font-size:14px;}
/*.my_area #id { width:calc(100% - 124px); float: left; }*/
.my_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.my_area #address1, .my_area #address2 {margin-bottom:5px;}
.my_area #postcode {width:calc(100% - 138px); float: left; }
/*.my_area #email { width:calc(100% - 124px); float: left; }*/
.my_area #cert-num { width:calc(100% - 124px); float: left; }
.my_area input::-webkit-input-placeholder {font-size:1rem;}
.my_area input:-ms-input-placeholder {font-size:1rem;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:400px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
.my_area .btn { height: 55px; }
.my_area .form-control:not(textarea) { height: 55px; }

.tbl-write.th-gray table th {
    background: #f7f7f7;
}

.tbl-write.th-gray table td, .tbl-write.th-pink table td, .tbl-write.th-white table td {
    padding-left: 1.5rem;
}

.tbl-write table td {
    text-align: left;
    font-size: 1rem;
    color: #555;
    padding: 10px 20px;
    /*border-bottom: 1px solid #e3e3e3;*/
}

/*.tbl-write #email {*/
/*    width: auto;*/
/*}*/

.tbl-write table .form-control {
    height: initial;
}
.tbl-write table .btn {
    height: initial;
}